/* Base styles for larger screens */
.navbar {
    background-color: #fff;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    /* Add box-shadow below the navbar */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.navbar-logo {
    color: #000;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon.open .menu-line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon.open .menu-line:nth-child(2) {
    opacity: 0;
}

.menu-icon.open .menu-line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.menu-line {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 5px;
    transition: all 0.3s ease-in-out;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
}

.nav-item {
    height: 80px;
}

.nav-links {
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-links:hover {
    color: #e31837;
}

.request-btn {
    background-color: #00204a;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    margin-left: 20px;
}

.request-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.request-btn span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.request-btn:hover span {
    padding-right: 25px;
}

.request-btn:hover span:after {
    opacity: 1;
    right: 0;
}


@media screen and (max-width: 768px) {
    .navbar-container {
        padding: 0 20px;
    }

    .menu-icon {
        display: block;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: -webkit-fill-available;
        /* Set the width to 100% to fill the screen */
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }

    .nav-menu.open {
        opacity: 1;
        visibility: visible;
    }

    .nav-links {
        width: 100%;
        padding-bottom: 1rem;

    }
}